@media only screen and (max-width: 767px){
  .header {
    .region-header-logo {
      img {
        margin: auto;
      }
    }
  }
  .header-logo {
    padding:0px;
    .contextual-region{
      width:100%;
    }
    a{
      display:block;
      text-align:center;
    }
    img{
      width: auto;
      margin: auto;
      display:block;
    }
  }
  .region-header-logo{
    margin:0px;
  }
 .header{
   &_nav {
     text-align: left;
     padding:0px;
   }
   .menu--main{
     width:100%;
   }
   .navbar-toggler {
     margin-top: 0px;
     margin-right: 0px;
     background: $bg-color-white;
     border-radius: 3.125rem;
     width: 3.125rem;
     height: 3.125rem;
     .icon-bar {
       background: $bg-color-blue;
       height: 4px;
       display: block;
     }

     .icon-bar + .icon-bar {
       margin-top: 4px;
     }
     &:focus{
       outline:none;
       box-shadow: none;
     }
   }
   .navbar-expand-lg,
   #navbar-main{
     width:100%;
     display:block;
     position:relative;
   }
   .container-toogle{
     width:100%;
     background: $bg-color-blue;
     border-radius: 1.875rem;
     max-width: 90%;
     margin: 0 auto;
     padding:0.25rem;
   }
   .navbar-collapse{
     max-width: 90%;
     margin: 0 auto;

   }

   .nav{
     padding: 0 1rem;
     &-item{
       min-width: 100%;
       max-width: 100%;
       height: auto;
       background: $bg-color-white;
       padding: 0 ;
       border-bottom: 1px solid $bg-color-grey-light-4 ;
       border-radius: 0rem;
       text-align: left;
       margin: 0 ;
       flex-direction: column;
       &:first-of-type{
         width:100%;
         justify-content: flex-start;
         color:$text-color-blue;
         a{
           width:100%;
           height:auto;
           color:$text-color-blue;

           &:after{
             display:none;
           }
         }
       }
       &.show{
         .dropdown-menu{
           border:none;
           outline:none;
         }
         >.nav-link{
           border-bottom: 1px solid $bg-color-blue;
           &.dropdown-toggle{
             &:after {
               border-top: 0rem;
               border-right: .3em solid transparent;
               border-bottom: .3em solid;
               border-left: .3em solid transparent;
             }
           }
         }
       }
     }
     &-link{
       color: $text-color-blue;
       background: $bg-color-white;
       min-height: 3.125rem;
       padding-top: 1rem;
       font-size: 1.25rem;
       width:100%;
       padding-bottom:0.75rem;
       &.dropdown-toggle{
         &:after {
           display: inline-block;
           margin-left: .255em;
           vertical-align: .255em;
           content: "";
           border-top: .3em solid;
           border-right: .3em solid transparent;
           border-bottom: 0rem;
           border-left: .3em solid transparent;
           background: none;
           width: auto;
           height: auto;
         }
       }
     }
   }
    .dropdown-menu {
      background-color: transparent;
      border-top: none;
      border-radius: 0 ;
      width: 100%;
      overflow: hidden;
      max-width: 100%;
      min-width: 129px;
      text-align:center;
      .dropdown-item{
        border-bottom:1px solid $bg-color-grey-light-4;
        border-top: none;
        a{
          color: $text-color-blue ;
          background-color: $bg-color-grey-light ;
          padding: 0.625rem ;
          font-weight: normal ;
          font-size:1.25rem;
        }
      }
    }
 }

  .block-views-blockfrontpage-custom-video-block{
    video{
      max-height:350px;
    }
    .frontpage-video-title{
      display:none;
    }
  }
  .header_top_bar{
    display:none;
  }
  .block-views-blockconsortium-partners-block{
    .views{
      &-row{
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
      }
      &-col{

        margin: 10px;
      }
    }

    h2{
      display:none;
    }
  }

  .footer {
    .nav{
      &-item {
        display: block;
      }
      &-link{
        padding:0.375rem;
        &:after{
          display:none;
        }
      }
    }
  }

  .block-views-blockfeatures-articles-block{
    .views-row{
      width:100%;
      margin-bottom: 1.25rem;
    }
  }


  .block-views-blocknapo-story-block-1{
    .view-napo-story{
      flex-direction: column-reverse;
    }
    .view-content,
    .view-footer{
      flex: 100%;
    }
  }
  .container.header_navbar_container{
    padding:0px;
  }
  .header_nav{
    position:relative;
  }
  .header-blocks{
    position:absolute;
    z-index:200;
    top:0.75rem;
    right: 5%;
    padding-right: 1.25rem;
    width:calc(100% - 140px);
    .region-header-form{
      display:flex;
      flex-direction: row-reverse;
    }
  }
  .custom-select {
    background: $bg-color-blue;
    color: $text-color-white;
    font-size: 1.125rem;
    margin: 0rem;
    padding: 0 0.625rem;
    line-height:1.5;
    width:136px!important;
  }
  .form-item-lang-dropdown-select{
    &:after{
      background-color: $bg-color-blue;
      background-image: url(/sites/napo/themes/custom/napo_theme/images/arrow-select-mobile.png);
      background-repeat: no-repeat;
      background-position: 0px 0px;
      right: 0rem;
      height: 24px;
      width: 22px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .btn-search-custom-mobile{
    display: block;
    width: 2.5rem!important;
    height: 2.5rem;
    background-image: url(/sites/napo/themes/custom/napo_theme/images/btn-search-mobile.png) ;
    background-repeat: no-repeat;
    background-position: center;
    .block-simple-blocksearch-api &{
      background-image: url(/sites/napo/themes/custom/napo_theme/images/search.png) ;
      background-size: 1.875rem;
    }
  }
  #block-languagedropdownswitcher .content{
    display:flex;
    flex-direction: row;
    align-items:center;
  }
  .lang-dropdown-form{
    margin-right:1.25rem;
  }
  #block-searchapi{
    position: absolute;
    top: 0rem;
    right: 1.25rem;
    width: 0%;
    z-index: 10;
    border-radius: 1.75rem;
    overflow: hidden;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    opacity: 0rem;
    &.in{
      width: 80%;
      opacity: 1;
      transition: all 0.6s;
    }
  }
  .header{
    .block-simple-blocksearch-api {
      .form-row{
        width:100%;
        height:auto;
        .form-group{
          width:calc(100% - 40px);
        }
        input{
          border-radius: 0rem;
          width: 100%;
          padding: 1.25rem;
          border-bottom: 1px dotted $bg-color-white;
        }
      }
      .form-actions{
        display:none;
      }
    }
  }
  .learning-with-napo-napo-in-the-workplace,
  .page-view-napo-for-teachers {
    .view-filters{
      padding:0;
      width:100%;
    }
  }
  .views-exposed-form{
    .form-item-search{
      width:100%;
    }
  }
  .view-napo-workplaces {
    .views-row{
      width:45%;
    }
  }
  .node--type-lesson,
  .node--type-msds-activities {
    .page-banner-custom{
      padding:0;
    }
    .content-text-facilitator-custom {
      padding:0;
      .introductory-text,
      .facilitator-guidance{
        float:none;
        width:100%;
      }

      .introductory-text{
        padding:1.875rem;
      }
      .facilitator-guidance{
        text-align: left;
        padding:0.625rem 1.875rem;
        .link-box {
          a{
            right:-1.875rem;
          }
        }
      }
    }
    .content-accordions-download-custom {
      margin:0;
      .accordions{
         width: 100%;
        flex: 0 0 100%;
        padding: 0 ;
        margin-top: 0rem;
      }
      .download-box {
        .download-title{
          font-size:1.875rem;
          margin-top:20px;
          margin-bottom:10px;
        }
        ul{
          display:flex;
          flex-wrap: wrap;
          li{
            &:last-child{
              flex: 100%;
              text-align: center;
              margin: 1rem 0rem 0rem;
            }
          }
        }
      }
    }
    .content-accordions-download-custom {
      .detail--text--block{
        flex-direction: column;
      }
    }
    .content-accordions-download-custom {
      .download-box {
        width: 100%;
        flex: 0 0 100%;
        top:0rem;
      }
    }
  }
  .napos-films-coming-soon{
    .field--name-field-image{
      float:none;
      img{
        margin:0 auto;
      }
    }
    .field--name-body{
      width:100%;
      padding:0;
    }
  }
  .napo-story {
    iframe{
      float:none;
      width:100%;
      padding:0;
      margin:0;
      margin-bottom:1.125rem;
    }
  }
  .view-napo-and-friends{
    .views-row{
      padding:50px 65px;
    }
    .views-slideshow-controls-top{
      display:none;
    }
    .views_slideshow_cycle_main{
      .views-row{
        padding-top:0;
      }
      .views-field-field-image {
        float: none;
        .image-style-large{
          padding-bottom:0;
        }
      }
    }
    .skin-default{
      width:100%;
    }
    .views_slideshow_slide{
      width:100%!important;
    }
    .views-slideshow-controls-bottom {
      .views_slideshow_controls_text_previous{
        top:7%;
      }
      .views_slideshow_controls_text_next{
        top:7%;
        right:0;
        left:222px;
      }
    }
  }
  .node--type-napo-album {
    .field--type-text-with-summary{
      width:100%;
      p{
        margin:0;
      }
    }
    #share-this-on{
      padding-top:0;
    }
  }

  .napo-film-list-view,
  .napo-film-list-view {
    .views-view-grid {
      .view-scenes,
      .view-video{
        position:relative;
        margin:0;
        left:initial;
        width:100%;
        margin-top:0.75rem;
      }
    }
  }
}


@media only screen and (max-width: 525px){

  .view-napo-workplaces {
    .views-row{
      width:100%;
    }
  }
  .napo-film-list-view{
    .views-col{
      padding:0px;
    }
   .views-view-grid {
     .napo-film-content-container{
       position:relative;
       transform: none;
       bottom:initial;
       left:initial;
     }
   }
  }
  .napos-films-films{
    .block-page-title-block h1{
      margin-top:5rem;
    }
    .block-views-exposed-filter-blocknapo-films-index-page-1{
      top:-7rem;
      right:0;
      padding:0 1rem;
      .form-group{
        max-width:calc(100% - 51px);
      }
      .form-row{
        margin:0;
      }
    }
    .block-facet--links.facet-active {
      top:-7rem;
      & + .block-views-exposed-filter-blocknapo-films-index-page-1{

        top:-4.25rem;
      }
    }
  }

  .search-facet-active-custom{
    &.napos-films-films{
      .block-page-title-block h1{
        margin-top:7rem;
      }
      .block-facet--links.facet-active {
        top:-9rem;
        right:0;
        padding:0 1rem;
        width:100%;;
        .item-list__links{
          width:100%;
        }
        & + .block-views-exposed-filter-blocknapo-films-index-page-1{
          top:-6.5rem;
        }
      }
    }
  }
  .node--type-napo-video {
    .conten-video-info {
      .napo-film-video-download-form{
        position:relative;
        background-color:$bg-color-grey-light;
        .download{
          margin-left:auto;
        }
      }
    }
    .conten-video-info-tags {
      .categories {
        .field--type-entity-reference{
          flex-direction: column;
        }
      }
    }
  }
  .content-page-content{
    &>.col-12{
      padding:0;
      .napo-story &,
      .page-view-napos-gallery &,
      .node--type-napo-album &,
      .path-napos-films &,
      .napos-films-coming-soon &{
        padding:0 1rem;
      }
    }
  }


  .node--type-napo-video {
    .conten-video-info-tags {
      padding-right:1.5rem;
    }
  }
  .node--type-lesson ,
  .node--type-msds-activities{
    .content-accordions-download-custom{
      .download-box {
        ul{
          flex-direction: column;
        }
      }
    }
  }
  .node--type-napo-video{
    .block-page-title-block {
      h1{
        margin-top:5rem;
      }
    }
    &.user-logged-in {
      .back-button-custom{
        top:-152px;
        width:100%;
        a{
          display:block;
        }
      }
    }
  }
  .quicktabs-tabs.list-group {
    .list-group-item{
      flex:1;
    }
  }
}
