.back-button-custom{
  a{
    background-image: url(/sites/napo/themes/custom/napo_theme/images/arrow-button-back.png) ;
    background-color: $bg-color-blue;
    background-repeat: no-repeat;
    background-position: 96% 8px;
    color: $text-color-white;
    height: 45px;
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 44px;
    padding-bottom:10px;
    font-weight: bold;
  }
  .user-logged-in &{
    position: absolute;
    z-index: 200;
    top: -52px;
    right: 0;
  }
}
