
.pagerer{
  &-container{}
  &-panes{}
  &-left-pane{}
  &-center-pane{}
  &-right-pane{}
  &-pager-standard{}

}

.pager{
  &__items{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding:0px;
    margin:20px 0 0 0;
    background: $bg-color-grey-light;
    align-items: center;
  }
  &__item{
    display:inline-block;
    vertical-align: middle;
    line-height: 1;
    padding: 4px;
    &--first{
      margin-right:9px;
      a{
        height: 26px;
        width: 26px;
        display: inline-block;
        background: url(/sites/napo/themes/custom/napo_theme/images/pagination-first.png) no-repeat;
        background-position: center;
      }
    }
    &--previous{
      margin-right:9px;
      a{
        height: 26px;
        width: 26px;
        display: inline-block;
        background: url(/sites/napo/themes/custom/napo_theme/images/pagination-previous.png) no-repeat;
        background-position: center;
      }
    }
    &--next{
      margin-left:9px;
      a{
        height: 26px;
        width: 26px;
        display: inline-block;
        background: url(/sites/napo/themes/custom/napo_theme/images/pagination-next.png) no-repeat;
        background-position: center;
      }
    }
    &--last{
      margin-left:9px;
      a{
        height: 26px;
        width: 26px;
        display: inline-block;
        background: url(/sites/napo/themes/custom/napo_theme/images/pagination-last.png) no-repeat;
        background-position: center;
      }
    }
    a{
      border: 1px;
      font-weight: bold;
      padding: 4px 4px;
      color:$text-color-blue;
      text-decoration: none;
      font-size:1.125rem;
      &:focus{
        outline:none;
        box-shadow:none;
      }
      span{
        display:none;
      }
    }
    &.is-active{
      a{
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}








/***********************************************************/



/*.pagination{
  background: #f2f1f2;
  margin: 20px 0 0 0;
  text-align: center;
  justify-content: center;

  .first,
  .prev,
  .last,
  .pager__item--next{
    margin:0 0.5rem;
    .sr-only{
      display:none;
    }
    span{
      color:transparent;
      width: 24px;
      height: 25px;
      display: block;
      overflow: hidden;
    }
  .page-link{
    padding:4px;
  }
  }
}
.page{
  &-item{
    display:inline-block;
    &.active{
      .page-link{
        background: transparent;
        text-decoration: underline;
        color: $text-color-blue;
      }
    }
    &.first{
      span{
        background: url(/sites/napo/themes/custom/napo_theme/images/pagination-first.png) no-repeat;
      }
    }
    &.prev{
      span{
        background: url(/sites/napo/themes/custom/napo_theme/images/pagination-previous.png) no-repeat;
      }
    }
    &.last{
      span{
        background: url(/sites/napo/themes/custom/napo_theme/images/pagination-last.png) no-repeat;
      }
    }
  }
  &-link{
    background: transparent;
    border: 1px;
    font-weight: bold;
    padding: 5px ;
    font-size:1.125rem;
    color: $text-color-blue;
    display: block;
    &:hover{
      color: $text-color-blue;
      text-decoration: none;
      background-color: transparent;
      border-color: transparent;
    }
    &:focus{
      box-shadow: none;
    }
  }
}
.pager__item{
  &--next{
    span{
      background: url(/sites/napo/themes/custom/napo_theme/images/pagination-next.png) no-repeat;
    }

  }
}
*/
