.custom-select,
.lang-dropdown-select-element{

  line-height: 18px;
  border: none;
  height: 31px;
  appearance: none;
  box-sizing: border-box;
  background: $bg-color-yellow;
  cursor: pointer;
  border-radius: 3.75rem;
  margin-top: 3px;
  font-weight: bold;
  padding: 4px 16px;
  font-size: 13px;
  &:focus{
    outline: none;
    box-shadow: none;
  }
}

.form-item-lang-dropdown-select{
  position:relative;
  &:after{
    width: 26px;
    height: 30px;
    display: block;
    content: '';
    position: absolute;
    right: 0px;
    top: 5px;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.chosen-container-single,
.chosen-container-active.chosen-with-drop {
  text-align: left;
  .chosen{
    &-single{
      border:none;
      background:none;
      color:$text-color-blue;
      text-align: left;
      padding:0;
      font-weight:bold;
      box-shadow: none;
      background-color: $bg-color-yellow;
      background: url(/sites/napo/themes/custom/napo_theme/images/arrow-language.png) ;
      background-repeat: no-repeat;
      background-position: right center;
      div,
      b{
        display:none;
      }
    }
    &-search{
      display:none;
    }
    &-drop{
      border:1px solid $text-color-grey-3;
      left:0;
    }
    &-results{
      background: $bg-color-yellow;
      color:$text-color-blue;
      margin:0;
      padding:0;
      max-height: 330px;

      li{
        padding:5px 14px;
        font-weight: 400;
        &:hover{
          background: $bg-color-orange;
          color:$text-color-white;
        }
      }
    }
  }
}


#lang_dropdown_form_lang-dropdown-form{
  fieldset{
    width:100%;
  }
}
#edit-lang-dropdown-select{
  visibility:visible!important;
  position:static!important;
  width:100%!important;
  border:none !important;

  line-height: 18px;
  border: none;
  height: 31px!important;
  appearance: none;
  box-sizing: border-box;
  background: $bg-color-yellow;
  cursor: pointer;
  border-radius: 3.75rem;
  margin-top: 3px;
  font-weight: bold;
  padding: 4px 16px;
  font-size: 13px;
}
#edit_lang_dropdown_select_chosen{
  display:none!important;
}
