table{
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  font-size:1rem;
  margin:0rem;
  width:auto;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: $bg-color-grey-2;
  text-align: left;
}
tr{
  background-color: transparent;
  padding:0rem;
  td,
  th{
    border: 1px solid grey;
    padding:0rem;
  }
}

.accessibility-info{
  table{
    tr{
      td{
        padding: 0.9rem;
        p{
          font-size: 1rem;
        }
      }
    }
  }
}

