@media print {
  *{
    color:$bg-color-black!important;
    background:none!important;
  }
  .block-views-blockfrontpage-custom-video-block .views-field-field-video,
  .block-views-blockfrontpage-carousel-featured-block,
  .header_top_bar,
  .header_nav,
  .header:after,
  .video-custom,
  .video-scenes-custom,
  .block-views-blocknapo-story-block-1 .view-footer,
  div.pagerer-container,
  .quicktabs-tabs.list-group,
  .napos-films-films .block-facet--links,
  .napo-film-list-view .item-list .napo-film-list-image a:before,
  .cart,
  .napos-films-films .block-views-exposed-filter-blocknapo-films-index-page-1,
  .node--type-napo-video .view-scenes-custom,
  .user-logged-in .back-button-custom,
  .node--type-napo-video .conten-video-info .napo-film-video-download-form,
  .napo-story iframe,
  .views-slideshow-controls-top,
  #share-this-on,
  .view-scenes,
  .napo-film-list-view .item-list .napo-film-list-details-container,
  .napo-film-list-view .views-view-grid .view-video,
  .napo-film-list-view .views-view-grid .view-scenes,
  #main-wrapper img,
  #navbar.show-menu:after{
    display:none;
  }
  .block-views-blockfrontpage-custom-video-block{
    .frontpage-video-title{
      position: static;
      display: block !important;
      padding: 0px 30px;
      max-width: unset;
    }
    h2{
      padding: 0px;
    }
  }
  .header{
    min-height: unset !important;
  }
  .header{
    position: static;
  }
  .hide-menu{
    position: unset;
    top: unset;
    z-index: unset;
  }
  a,
  h1,
  h2,
  h3,
  h4{
    text-decoration: none!important;
    border:none!important;
  }
  .breadcrumb ol{
    padding-left: 0px !important;
  }
  .views-view-grid {
    .views-col{
      float:none;
      width:100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .napo-film-list-view{
    .views-view-grid {
      .napo-film-content-container{
        bottom:initial;
        position:relative;
        margin:0;
        transform: none;
        padding:1.125rem 0rem;
      }
      .napo-film-list-image{
        img{
          width:100%;
        }
      }
      h3{
        height:auto;
        margin-bottom: 14px;
        padding-left:0;
        a{
          padding:0;
        }
      }
      .view-video,
      .view-scenes{
        bottom:initial;
        position:relative;
        transform: none;
        left:initial;
        display:inline-block;
        margin-right:1rem;
        display:none;
      }
    }
    .item-list {
      .napo-film-list-image {
        img{
          width:100%;
        }
        a{
          width:100%;
          max-height: initial;
        }
      }
      .group-right {
        h3 {
          margin-top:1.25rem;
          a{
            padding-left:0;
          }
        }
      }
      .item{
        flex-direction: column;
      }
      &>ul {
        li{
          &.row{
            width:80%;
            margin-left:auto;
            margin-right:auto;
          }
        }
      }
      .group-right,
      .napo-film-list-image{
        width:100%;
        padding:0;
        max-height:initial;
      }
    }
  }
  .node--type-napo-video {
    .conten-video-info-tags{
      .categories{
        padding-bottom:0;
      }
    }
    .conten-video-info{
      .napo-film-title-2{
        .field--name-title{
          padding:0;
        }
      }
    }
  }
  .view-napo-s-film-episodes {
    .views-row{
      padding-left:0;
      display:block;
      width:80%;
      margin-left:auto;
      margin-right:auto;
      &>.col-sm-3,
      &>.col-sm-9{
        flex:0 0 100%;
        max-width:100%;
        width:100%;
      }
      &>.col-sm-3{
        &>div{
          height:auto;
        }
        img{
          width:100%;
        }
        a{
          width:100%;
          max-height: initial;
          &:before{
            display:none;
          }
        }
      }
      &>.col-sm-9 {
        h3 {
          margin-top:1.25rem;
        }
      }
    }
    .episode-list-details-container{
      padding:0 12px;
    }
  }
  .block-page-title-block h1{
    padding: 0.25rem 15px;
  }
  /**home page**/
  .region-header-logo{
    img{
      display: block !important;
    }
  }
  .block-views-blockfeatures-articles-block{
    .view-content{
      flex-direction: column;
      .views-field-title-1{
        display: none;
      }
      .views-row{
        padding: 0px;
        width: 100%;
        min-height: unset !important;
      }
    }
    .views-row:nth-child(1) h3 a, .views-row:nth-child(2) h3 a{
      padding: 0px !important;
    }
  }
  .block-views-blocknapo-story-block-1{
    padding: 15px;
    margin: 0px 0px 0px 15px;
    padding-top: 0px;
    .views-field-view-node{
      display: none;
    }
  }
  /**End comment - home page**/
  /**Napo's film**/
  .napos-films-coming-soon-2023{
    .field--name-field-image img{
      display: none;
    }
  }
  .napo-film-list-view .views-view-grid.col{
    padding: 0px;
    .napo-film-content-container{
      padding: 0px;
      h3{
        margin-bottom: 0px;
      }
    }
    .views-field-nothing{
      margin-top: 2rem;
    }
    .download-video{
      display: none;
    }
    .napo-film-list-image{
      display: none;
    }
    .grid.tags a, .grid.date time{
        font-size: 0.9rem;
    }
    p.grid.text{
      margin-bottom: 0px;
    }
  }
  .napo-film-list-view{
    .views-view-grid .views-col{
      padding: 0px !important;
    }
  }
  /**End comment - Napo's film**/
  /**Learning with Napo**/
  .page-view-napo-workplaces{
    #block-napointheworkplaceviewnode{
      .field--name-field-image{
        display: none;
      }
      .node--view-mode-header-view-node{
        padding: 0px 15px;
      }
    }
    .view-content{
      flex-direction: column;
      .views-row{
        width: 100%;
        margin-bottom: 0rem;
        .lessons-item-content{
          text-align: start;
          padding: 0px 15px;
          p.keyword-list{
            margin-bottom: 0rem;
          }
        }
      }
      .lessons-item,
      .related-lessons-item{
        border: none;
        min-height: unset;
        .related-item-content{
          padding: 0px 15px 5px 15px;
        }
        img{
          display: none;
        }
      }
    }
  }
  .learning-with-napo-napo-in-the-workplace,
  .learning-with-napo-Napo-in-the-workplace,
  .page-view-napo-for-teachers{
    .field--name-field-image{
      padding: 15px;
    }
    .view-filters{
      display: none;
    }
    .view-header h2{
      margin-bottom: 0px;
    }
    .node--view-mode-header-view-node .field--type-text-with-summary{
      flex: 100%;
      padding: 0px !important;
      p{
        margin-bottom: 0rem;
      }
    }
    .content-page-content{
      padding: 0px;
    }
    .field--type-entity-reference{
      margin: 0px;
    }
    .block-page-title-block h1{
      padding: 0px 15px;
    }
    .node--view-mode-header-view-node{
      padding: 0px 15px;
    }
    .field--name-field-image{
      display: none;
    }
    .lessons--items--grid{
      .view-content.row{
        flex-direction: column;
        .views-row{
          width: 100%;
          margin: 0px;
          .lessons-item{
            border: none;
            min-height: unset;
            padding: 0px;
            & > a{
              display: none;
            }
            .related-item-content{
              padding: 0px 0px 0px 15px;
            }
            h3{
              text-align: start;
            }
            .keyword-list{
              text-align: start;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  /**End comment - Learning with Napo**/
  /**About Napo**/
  .about-napo-napo-story, .page-view-napo-and-friends, .about-napo-napos-gallery{
    iframe{
      display: none;
    }
    .views_slideshow_cycle_main{
      .views-field-field-image{
        display: none;
      }
      .views-row{
        padding: 15px;
      }
    }
    .view-napos-gallery{
      .napo-gallery-title-container{
        padding-left: 0px;
      }
      .attachment-before .views-element-container{
        margin-bottom: 0px;
      }
    }
  }
  .page-view-napo-and-friends{
    #tmgmt-9{
      display: none;
    }
  }
  /**End comment - About Napo**/
  /**Learning with napo activities**/
  .node--type-lesson, .node--type-msds-activities{
    .page-banner-custom{
      padding: unset;
    }
    .content-text-facilitator-custom{
      padding-bottom: unset;
      min-height: unset;
      .introductory-text, .facilitator-guidance{
        padding: 0px;
        width: 100%;
        min-height: unset;
      }
      .facilitator-guidance{
        float: unset;
        text-align: start;
        .link-box{
          display: none;
        }
      }
    }
    .content-custom{
      .accordion-item{
        border: unset !important;
      }
      .content-accordions-custom{
        padding: unset !important;
        margin: unset;
        width: 100% !important;
        flex: 0 0 100% !important;
        h2{
          padding: 0px;
        }
        .accordions{
          .field__label{
            padding: 0px;
          }
          .accordion__body, .closed-2, .field__item, .field__items, li{
            padding: 0px 15px !important;
            display: block !important;
            font-size: 1.125rem;
          }
        }
      }
    }
    .block-nma-download-block{
      display: none;
    }
    .related{
      padding: 0px;
      .views-field-nothing{
        margin: unset;
        .field-content .related-lessons-item-cs > a{
          height: unset;
        }
        .related-item-content-cs, .related-item-content{
          text-align: start !important;
          padding: 0px;
        }
        .related-item-content a[target=_blank]:after, .related-item-content-cs a[target=_blank]:after{
          display: none !important;
        }
      }
    }
    .view-msds-resources-and-cs{
      .row{
        flex-direction: column;
        .col-4{
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding-left: 30px;
        }
      }
    }
    .related .views-field-nothing{
      border: unset !important;
      height: unset !important;
      min-height: unset !important;
      .field-content > a{
        height: unset !important;
      }
    }
  }
  /**End comment - learning with napo activities**/
  /**Napo and friends**/
  div#views_slideshow_cycle_teaser_section_napo_and_friends-page_3{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    .views_slideshow_cycle_no_display,
    .views_slideshow_cycle_hidden,
    .views_slideshow_cycle_controls,
    .views_slideshow_cycle_image_count{
      display: block !important;
    }
    & > div{
      display: block !important;
      position: static !important;
      z-index: 1 !important;
      width: auto !important;
      opacity: unset !important;
      height: auto !important;
    }
  }
  /**End comment - Napo and friends**/
}
