@media print {
  *{
    color:$bg-color-black!important;
    background:none!important;
  }
  .block-views-blockfrontpage-custom-video-block,
  .block-views-blockfrontpage-carousel-featured-block,
  .header_top_bar,
  .header_nav,
  .video-custom,
  .video-scenes-custom,
  .block-views-blocknapo-story-block-1 .view-footer,
  div.pagerer-container,
  .quicktabs-tabs.list-group,
  .napos-films-films .block-facet--links,
  .napo-film-list-view .item-list .napo-film-list-image a:before,
  .cart,
  .napos-films-films .block-views-exposed-filter-blocknapo-films-index-page-1,
  .node--type-napo-video .view-scenes-custom,
  .user-logged-in .back-button-custom,
  .node--type-napo-video .conten-video-info .napo-film-video-download-form,
  .napo-story iframe,
  .views-slideshow-controls-top,
  #share-this-on,
  .view-scenes,
  .napo-film-list-view .item-list .napo-film-list-details-container,
  .napo-film-list-view .views-view-grid .view-video,
  .napo-film-list-view .views-view-grid .view-scenes{
    display:none;
  }
  .block-views-blocknapo-story-block-1{
    .view-napo-story {
      .row{
        flex:0 0 50%;
        max-width:50%;
      }
    }
    .views-row {
      .views-field-view-node{
        margin-top:0;
      }
    }
  }
  a,
  h1,
  h2,
  h3,
  h4{
    text-decoration: none!important;
    border:none!important;
  }
  .views-view-grid {
    .views-col{
      float:none;
      width:100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .napo-film-list-view{
    .views-view-grid {
      .napo-film-content-container{
        bottom:initial;
        position:relative;
        margin:0;
        transform: none;
        padding:1.125rem 0rem;
      }
      .napo-film-list-image{
        img{
          width:100%;
        }
      }
      h3{
        height:auto;
        margin-bottom: 14px;
        padding-left:0;
        a{
          padding:0;
        }
      }
      .view-video,
      .view-scenes{
        bottom:initial;
        position:relative;
        transform: none;
        left:initial;
        display:inline-block;
        margin-right:1rem;
        display:none;
      }
    }
    .item-list {
      .napo-film-list-image {
        img{
          width:100%;
        }
        a{
          width:100%;
          max-height: initial;
        }
      }
      .group-right {
        h3 {
          margin-top:1.25rem;
          a{
            padding-left:0;
          }
        }
      }
      .item{
        flex-direction: column;
      }
      &>ul {
        li{
          &.row{
            width:80%;
            margin-left:auto;
            margin-right:auto;
          }
        }
      }
      .group-right,
      .napo-film-list-image{
        width:100%;
        padding:0;
        max-height:initial;
      }
    }
  }
  .node--type-napo-video {
    .conten-video-info-tags{
      .categories{
        padding-bottom:0;
      }
    }
    .conten-video-info{
      .napo-film-title-2{
        .field--name-title{
          padding:0;
        }
      }
    }
  }
  .view-napo-s-film-episodes {
    .views-row{
      padding-left:0;
      display:block;
      width:80%;
      margin-left:auto;
      margin-right:auto;
      &>.col-sm-3,
      &>.col-sm-9{
        flex:0 0 100%;
        max-width:100%;
        width:100%;
      }
      &>.col-sm-3{
        &>div{
          height:auto;
        }
        img{
          width:100%;
        }
        a{
          width:100%;
          max-height: initial;
          &:before{
            display:none;
          }
        }
      }
      &>.col-sm-9 {
        h3 {
          margin-top:1.25rem;
        }
      }
    }
    .episode-list-details-container{
      padding:0 12px;
    }
  }
}
