@media print {
  *{
    color:$bg-color-black!important;
    background:none!important;
  }
  .block-views-blockfrontpage-custom-video-block,
  .block-views-blockfrontpage-carousel-featured-block,
  .header_top_bar,
  .header_nav,
  .video-custom,
  .video-scenes-custom,
  .block-views-blocknapo-story-block-1 .view-footer,
  div.pagerer-container,
  .quicktabs-tabs.list-group,
  .napos-films-films .block-facet--links,
  .napo-film-list-view .item-list .napo-film-list-image a:before,
  .cart,
  .napos-films-films .block-views-exposed-filter-blocknapo-films-index-page-1,
  .node--type-napo-video .view-scenes-custom,
  .user-logged-in .back-button-custom,
  .node--type-napo-video .conten-video-info .napo-film-video-download-form,
  .napo-story iframe,
  .views-slideshow-controls-top,
  #share-this-on {
    display:none;
  }
  .block-views-blocknapo-story-block-1{
    .views-row {
      .views-field-view-node{
        margin-top:0;
      }
    }
  }
  a,
  h1,
  h2,
  h3,
  h4{
    text-decoration: none!important;
    border:none!important;
  }
  .views-view-grid {
    .views-col{
      float:none;
      width:100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .napo-film-list-view{
    .views-view-grid {
      .napo-film-content-container{
        bottom:initial;
        position:relative;
        margin:0;
        transform: none;
      }
      .napo-film-list-image{
        img{
          width:90%;
          margin:0 auto;
        }
      }
      h3{
        height:auto;
        margin-bottom: 14px;
      }
      .view-video,
      .view-scenes{
        bottom:initial;
        position:relative;
        transform: none;
        left:initial;
        display:inline-block;
        margin-right:1rem;
      }
    }
    .item-list {
      .item{
        flex-direction: column;
      }
      .group-right,
      .napo-film-list-image{
        width:100%;
        padding:0;
        max-height:initial;
      }
    }
  }

  .node--type-napo-video {
    .conten-video-info{
      .napo-film-title-2{
        .field--name-title{
          padding:0;
        }
      }
    }
  }
}
