.accessibility-info{
  .field--type-text-with-summary{
    h2{
      font-size:1.625rem;
      font-weight:700;
      color:$text-color-blue;
    }
    h3{
      font-size:1.375rem;
      font-weight:700;
      color:$text-color-blue;
    }
  }
}
