.napos-films-coming-soon{
  .slick--less{
    display:inline-block;
    float:left;
    clear:none;
  }
  .field--name-body {
    display:inline-block;
    width: calc(100% - 432px);
    padding:1rem 0rem;
  }

  .media__image{
    padding-bottom:0.625rem;
    padding-right:1.125rem;
  }
  p{
    font-size:1.125rem;
  }
  .field--name-field-image{
    float:left;
  }
}
