.learning-with-napo-napo-in-the-workplace{
  .view-napo-workplaces{
    display:flex;
    flex-direction:column;
  }

  .view-footer{
    order:0;
  }
  .pagination-heading{}
  .view-content{}
  .view-filters{}
  .view-header{}
}
