.node--type-lesson,
.node--type-msds-activities{
  .block-page-title-block{
    margin-top:3rem;
  }
  .page-banner-custom{
    padding: 0 0 2.5rem;
    position: relative;
  }
  .video-custom{
    position: relative;
    width: 100%;
    height: 625px;
    overflow: hidden;
    header{
      display:none;
    }
    video{
      height:100%!important;
      width:100%!important;
    }
    .field--type-entity-reference{
      margin:0;
    }
    &__image{
      position:absolute;
      top:0;
      left:0;
      z-index:4;
      display:block;
      width: 100%;
      height: auto;
      cursor:pointer;
    }
    &__playButton{
      position:absolute;
      top:50%;
      left:50%;
      z-index:10;
      transform:translate(-50%, -50%);
      display:inline-block;
      border-radius:50%;
      width:100px;
      height:100px;
      background: url(/sites/napo/themes/custom/napo_theme/images/play-video-big.png);
      background-color: transparent;
      background-position: center ;
      background-repeat: no-repeat;
      border:none;
      box-shadow: none;
      outline:none;
      cursor:pointer;
      &:active,
      &:focus,
      &:hover{
        border:none;
        box-shadow: none;
        outline:none;
      }
    }
  }
  .playingVideoCustom{
    .video-custom{
      &__image,
      &__playButton{
       display:none;
      }
    }
  }
  .pauseVideoCustom{
    .video-custom{
      &__image{
        display:none;
      }
      &__playButton{
        display:inline-block;
      }
    }
  }
  .content-text-facilitator-custom{
    clear: both;
    float:none;
    margin-top:-6px;
    padding-bottom:2.5rem;
    min-height: 175px;
    .introductory-text{
      background: $bg-color-grey-light-3;
      padding: 1.25rem 1.875rem 0.625rem 5rem;
      min-height: 175px;
      width: 76%;
      float:left;
      font-size:1.125rem;
    }
    .facilitator-guidance{
      width: 24%;
      float:right;
      color: $text-color-white;
      padding: 0.625rem;
      border-radius: 0 0 1.875rem 1.875rem;
      text-align: center;
      background: $bg-color-blue;
      font-size: 1.125rem;
      .title-box{
        font-weight: bold;
        margin: 1.25rem 0 0.625rem;
      }
      .text-box{}
      .link-box{
        margin-bottom:0.625rem;
        a{
          position: relative;
          background-image: url(/sites/napo/themes/custom/napo_theme/images/home-see-more.png) ;
          background-position: right top;
          background-repeat: no-repeat;
          right: -11px;
          bottom: -20px;
          font-size: 1rem;
          min-height: 3.125rem;
          color:$text-color-white;
          padding: 0rem 3.75rem 0rem 0rem;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          line-height: 16px;
          font-weight: bold;
          &:after{
            display:none;
          }
        }
      }
    }
  }
  .content-custom{
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: baseline;
    .content-download-custom{
      margin-top: 3.75rem;
      flex:24%;
      width:24%;
      .download-box{
        position:relative;
        .download-title{
          font-size: 1.125rem;
          font-weight:bold;
        }
        ul{
          margin: 1.25rem 0rem 0rem 0rem;
          padding: 0rem;
          list-style-type: none;
          li{
            border-bottom: 1px solid $bg-color-blue;
            &:last-child{
              border: none;
              background: $bg-color-blue;
              color: $text-color-white;
              border-radius: 0rem 0rem 1.25rem 1.25rem;
              a{
                display: block;
                color: $text-color-white;
                padding: 0.625rem 1.25rem;
                background-image: url(/sites/napo/themes/custom/napo_theme/images/btn-download-all.png) ;
                background-position: 96% 50%;
                background-repeat: no-repeat;
                text-transform: uppercase;
              }
            }
            a{
              padding: 0.625rem 2.5rem 0.625rem 1.25rem;
              display: block;
              background-image: url(/sites/napo/themes/custom/napo_theme/images/btn-download.png) ;
              background-position: 96% 50%;
              background-repeat: no-repeat;
              font-size: 1.125rem;
              &:hover{
                text-decoration: none;
                opacity: 0.6;

                transition: all 0.6s;
              }
              &[target=_blank]:after{
                display:none;
              }
            }
          }
        }
      }

    }
    .content-accordions-custom{
      margin-top: 3.75rem;
      padding: 0rem 3% 1.25rem 3%;
      width:76%;
      flex:0 0 76%;
      h2{
        font-size:1.875rem;
        padding:0rem;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .introductory-text{
        width:100%
      }
      .detail--text--block{
        display:flex;
        flex-direction: row;
      }
      .accordions{
        padding: 0rem 5rem 0rem 0rem;
        margin-top: 1.25rem;
        position: relative;
        width:100%;
        .accordion-item{
          border-radius: 1.875rem;
          padding: 0rem;
          margin-bottom: 0.75rem;
          border: 2px solid $bg-color-blue-light-2;
          .field--type-entity-reference{
            margin:0rem;
          }
          &.active{
            border-color:$bg-color-blue;
            .field__label{
              background-color: $bg-color-blue;
              color:$text-color-white;
              background-image: url(/sites/napo/themes/custom/napo_theme/images/arrow-language-up.png)  ;
            }
          }
        }
        .field__label{
          background-image: url(/sites/napo/themes/custom/napo_theme/images/arrow-language.png)  ;
          background-repeat: no-repeat;
          background-position: 97% 12px;
          background-color: $bg-color-blue-light-2;
          border-radius: 1.875rem;
          padding: 0.625rem 1.25rem;
          font-size: 1.25rem;
          font-weight: bold;
          position: relative;
          z-index: 10;
          margin: 0rem;
          width:100%;
          cursor: pointer;
        }
        .field--label-above,
        .field--type-text-long{
          >.field__item,
          >.field__items,
          >.accordion__body{
            border: 0rem;
            padding: 1.25rem 1.875rem 1.875rem;
            position: relative;
            display: none;
            color: $text-color-grey-3;
            ul{
              padding-inline-start: 40px;
              font-size:1.125rem;
              li{
                strong{
                  width: auto;
                  padding: 2px 0 2px 1.875rem;
                  display: inline-block;
                  color: $text-color-grey-3;
                }
                &:nth-child(1) {
                  strong {
                    background-image: url(/sites/napo/themes/custom/napo_theme/images/star-rating.svg) ;
                    background-repeat: no-repeat;
                    background-size: 25px 25px;
                  }
                }
                &:nth-child(2) {
                  strong {
                    background-image: url(/sites/napo/themes/custom/napo_theme/images/star-rating-silver.svg) ;
                    background-repeat: no-repeat;
                    background-size: 25px 25px;
                  }
                }
                &:nth-child(3) {
                  strong {
                    background-image: url(/sites/napo/themes/custom/napo_theme/images/star-rating-bronze.svg) ;
                    background-repeat: no-repeat;
                    background-size: 25px 25px;
                  }
                }
              }
            }
            h4{
              color:$text-color-blue;
              font-size: 1.125rem;
              margin: 1.25rem 0rem 0.875rem;
            }
            a{
              &[target="_blank"]{
                &:after{
                  display: none;
                }
              }
            }
          }
        }
      }
    }

  }
  .related{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2.5rem 3%;
    margin: 0rem 0rem 1.125rem 0rem;
    background-image: url(/sites/napo/themes/custom/napo_theme/images/background-story.png) ;
    background-repeat: repeat-x;
    background-position: bottom left;
    h2{
      flex-direction: row;
      flex: 100%;
      font-size: 1.875rem;
      font-weight: bold;
      margin: 0.625rem 0rem;
    }
  }
  #main-wrapper{
    >.container{
      position:relative;
      .content-page-content{
        >.col-12{
          position:static;
        }
      }
    }
  }
  .back-button-custom {
    position: absolute;
    z-index: 1;
    top:3rem;
    right:auto;
    left: 15px;
    margin-bottom:0.625rem;
    a{
      color: $text-color-blue;
      height: auto;
      font-size: 0.875rem;
      font-weight: bold;
      background-image: url(/sites/napo/themes/custom/napo_theme/images/arrow-back.png) ;
      background-repeat: no-repeat;
      background-position: left 50%;
      background-color:transparent;
      padding: 0.5rem 1rem;
      background-size: auto 10px;
    }
  }
}
.node--type-lesson{
  .introductory-text{
    width:76%;
    padding: 0rem 5rem 0rem 0rem;
  }
  .content-accordions-download-custom {
    .download-box{
      top:0
    }
  }
}
