.node--type-napo-video{
  .video-custom{

    video{
      width:100%!important;
      height:auto!important;
    }
    .field--type-entity-reference{
      margin:0;
    }
  }
  .view-scenes-custom,
  .view-thumbnails-custom{
    margin-top: 0.5rem;
    h2{
      font-size: 1.625rem;
      color: $text-color-blue;
      padding: 0 0 1rem 0;
      font-weight: bold;
      margin-top:0;
    }
    .views-element-container{
      padding:0 15px;
      padding-bottom:20px;
    }
    .slide__caption{
      padding:0;
    }
    .slick__slide{
      position:relative;
      padding: 0 0.25rem;
      display: flex;
      flex-direction: column-reverse;
      row-gap: 0.5rem;
      a{
        padding-top: 0.5rem;
        font-weight: 300;
        span{
          font-weight: 600;
        }
      }

      &:hover{
        .views-field-title-1{
          display:block;
        }
      }
    }
  }
  .description-and-download{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .content-download-custom{
      border: 1px solid $text-color-blue;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top:0;
      & > p{
        margin: 0;
        padding: {
          top: 0.5rem;
          left: 1rem;
        }
        font: {
          size: 1.3rem;
          weight: 600;
        }
      }
      form & > input{
        display: none;
      }
      form .form-actions {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        input{
          width: unset;
          border: 0;
          border-radius: 0;
          padding: {
            left: 1rem;
            top: 0.5rem;
            bottom: 0.5rem;
          }
          color: $text-color-blue;
          font: {
            size: 1rem;
            weight: 400;
          }
          text-align: start;
          background: url(/sites/napo/themes/custom/napo_theme/images/btn-download.png) no-repeat calc(100% - 10px) 50% ;
          &:first-of-type{
            border-bottom: 1px solid $text-color-blue;
          }
          &:nth-of-type(1), &:nth-of-type(2){
            margin: 0 0.5rem;
          }
          &:last-child{
            display: block;
            border:{
              bottom: 0;
              bottom-right-radius: 12px;
              bottom-left-radius: 12px;
            }
            margin: 0;
            padding: {
              top: 0.5rem;
              bottom: 0.5rem;
              left: 1rem;
            }
            color: #FFFFFF;
            background:{
              color: $bg-color-blue;
              image: url(/sites/napo/themes/custom/napo_theme/images/btn-download-all.png);
              repeat: no-repeat;
              position: calc(100% - 19px) 50%;
            }
          }
        }
      }
    }
  }
  .conten-video-info{
    position:relative;
    min-width: 260px;
    .napo-film-title-2{
      .field--name-title{
        padding: 10px 14% 10px 54px;
        color: #585759;
        background: url(/sites/napo/themes/custom/napo_theme/images/ico-film.png) ;
        background-repeat: no-repeat;
        background-color: $bg-color-grey-light-2;
        background-position:23px 10px ;
        font-weight: bold;
        font-size: 17px;
        margin-top: 1.5rem;
        height: auto;
        display: block;
      }
    }
    .napo-share-widget{
      position: relative;
      color: transparent;
      background: url(/sites/napo/themes/custom/napo_theme/images/share.png);
      background-repeat: no-repeat;
      background-position:center ;
      background-color: $bg-color-blue;
      height: 43px;
      width: 45px;
      cursor: pointer;
      margin-top:1px;
    }
    .addtoany_list{
      display:none;
      position: absolute;
      z-index: 20;
    }
    .share-links-node{
      margin-left:0.5rem;
      &:hover{
        .addtoany_list{
          display:block;
        }
      }
    }
    #share-this-on{
      flex-direction: column;
      background-color: $bg-color-white;
      padding:0;
    }
  }
  .categories{
    padding: 0;
    .field__label{
      color: $text-color-grey-dark;
      font-weight:bold;
      font-size: 1rem;
      &:after{
        content:':';
      }
    }
    .field--type-entity-reference{
      display: contents;
      font-size: 1rem;
      & > .field__items{
        line-height: normal;
        & > .field__items > .field--type-entity-reference{
          margin-bottom: unset;
          row-gap: 0.5rem;
        }
      }
    }
    .field__items{
      font-weight:bold;
      font-size: 1rem;
      .field__item{
        & + .field__item{
          &:before{
            content:"|";
            display:inline-block;
            margin:0.25rem;
          }
        }
        h2{
          font-size:1.125rem;
          margin:0;
          a{
            color: $text-color-blue;
            font-weight:bold;
            font-size:1.125rem;
          }
        }
      }
    }
  }
  .conten-video-info-description{
    margin-bottom: 0px;
    padding: 1rem 0 1.125rem 0;
    .body, .field--type-text-with-summary{
      strong,
      span,
      p{
        color: $text-color-grey-dark !important;
        background-color: transparent!important;
        font-size: 1rem!important;
        line-height:1.625rem!important;
        font-family: 'Ubuntu',cursive!important;
        padding-left: 1rem;
        padding-right: 2rem;
      }
    }
  }

  .video-custom{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    &__image{
      position:absolute;
      top:0;
      left:0;
      z-index:4;
      display:block;
      width: 100%;
      height: auto;
      cursor:pointer;
    }
    &__playButton{
      position:absolute;
      top:50%;
      left:50%;
      z-index:10;
      transform:translate(-50%, -50%);
      display:inline-block;
      border-radius:50%;
      width:100px;
      height:100px;
      background: url(/sites/napo/themes/custom/napo_theme/images/play-video-big.png);
      background-color: transparent;
      background-position: center ;
      background-repeat: no-repeat;
      border:none;
      box-shadow: none;
      outline:none;
      cursor:pointer;
      &:active,
      &:focus,
      &:hover{
        border:none;
        box-shadow: none;
        outline:none;
      }
    }
  }
  iframe{
    border: 0;
  }
  .playingVideoCustom{
    .video-custom{
      &__image,
      &__playButton{
        display:none;
      }
    }
  }
}
iframe{
  border: 0;
}
.napo-films-modal{


  .napo-film-video-download-form{
    position:absolute;
    top:0;
    right:0;
    z-index:20;
    display:flex;
    flex-direction: row;
  }
  .download{
    position:relative;
    &:before{
      content:"";
      color: transparent;
      background: url(/sites/napo/themes/custom/napo_theme/images/video-download-v2.png) ;
      background-repeat: no-repeat;
      background-position: right;
      padding: 10px;
      display: block;
      width: 100px;
      height: 45px;
    }
    a{
      display: none;
      width: 60px;
      height: auto;
      background: $bg-color-blue-light;
      color: $text-color-blue;
      text-decoration: none;
      font-weight: bold;
      font-size:1.125rem;
      padding: 5px 0px;
      text-align: center;
      text-transform: uppercase;
      top:100%;
      left:0;
      width:100px;
      z-index:20;
      &:after{
        display:none;
      }
      &:hover{
        background: $bg-color-yellow;
        color: $text-color-blue;
        text-decoration: none;
      }
    }
    &:hover{
      a{
        display:block;
      }
    }
  }
}


.node--type-napo-video {
  .napo-films-modal {
    .view-scenes-custom, .view-thumbnails-custom {
      .slick__slide {
        img{
          width:145px;
        }
      }
    }
  }
}

@media screen and (min-width: 991px){
  .node--type-napo-video .video-custom{
    height: 625px;
  }


  .node--type-napo-video{
    .napo-films-modal{
      .video-custom{
        height: auto;
      }
    }
  }



}

@media screen and (min-width: 992px){
  .node--type-napo-video {
    .view-scenes-custom,
    .view-thumbnails-custom{
      .slick__slide {
        max-width: 31vw;
      }
    }
  }
}


@media screen and (min-width: 1200px){
  .node--type-napo-video{
    .view-scenes-custom .slick__slide{
      max-width: 360px;
    }
    .view-thumbnails-custom .slick__slide{
      max-width: 360px;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 991px){
  .node--type-napo-video .video-custom{
    max-height: 50vw;
    iframe{
      height: inherit;
    }
  }
}

@media screen and (max-width: 767px){
  .node--type-napo-video .description-and-download {
    flex-direction: column;
  }
}

