.node--type-napo-video{
  .video-custom{
    video{
      width:100%!important;
      height:auto!important;
    }
    .field--type-entity-reference{
      margin:0;
    }
  }
  .view-scenes-custom{
    background-color: $bg-color-grey-light-2;
    margin-top:-5px;
    h2{
      font-size: 1.625rem;
      color: $bg-color-grey;
      background-image: url(/sites/napo/themes/custom/napo_theme/images/ico-view-episodes.png)  ;
      background-repeat: no-repeat;
      background-position: 23px 15px;
      padding: 1.5rem 1.5rem 0rem 4.875rem;
      font-weight: bold;
      margin-top:0;
    }
    .views-element-container{
      padding:0 58px;
      padding-bottom:20px;
    }
    .slide__caption{
      padding:0;
    }
    .slick__slide{
      position:relative;
      padding: 0 0.25rem;
      .views-field-title-1{
        position: absolute;
        width:calc(100% - 0.5rem);
        top:0;
        left:50%;
        transform:translate(-50% , 0%);
        display: none;
        background-image: url(/sites/napo/themes/custom/napo_theme/images/background-blue.png);
        background-repeat: repeat-x;
        height: auto;
        color: $text-color-white;
        font-weight: bold;
        text-align: left;
        .field-content{
          padding:0 10px;
          display:block;
        }
        a{
          color: $text-color-white;
          background-image: url(/sites/napo/themes/custom/napo_theme/images/arrow-button-yellow.png) ;
          background-repeat: no-repeat;
          background-position: 95% 5px;
          background-color: transparent;
          font-weight: bold;
          display: block;
          //margin-top: -11px;
          padding: 3px 44px 12px 0px;
        }
      }
      img{
        width:100%;
      }
      &:hover{
        .views-field-title-1{
          display:block;
        }
      }
    }
  }
  .conten-video-info{
    position:relative;
    .napo-film-title-2{
      .field--name-title{
        padding: 10px 14% 10px 54px;
        color: #585759;
        background: url(/sites/napo/themes/custom/napo_theme/images/ico-film.png) ;
        background-repeat: no-repeat;
        background-color: $bg-color-grey-light-2;
        background-position:23px 10px ;
        font-weight: bold;
        font-size: 17px;
        margin-top: 1.5rem;
        height: auto;
        display: block;
      }
    }
    .napo-film-video-download-form{
      position:absolute;
      top:0;
      right:0;
      z-index:200;
      display:flex;
      flex-direction: row;
    }
    .download{
      a{
        color: transparent;
        background: url(/sites/napo/themes/custom/napo_theme/images/video-download-v2.png) ;
        background-repeat: no-repeat;
        background-position:center ;
        padding: 10px;
        display: block;
        width: 43px;
        height: 45px;
      }
    }
    .napo-share-widget{
      position: relative;
      color: transparent;
      background: url(/sites/napo/themes/custom/napo_theme/images/share.png);
      background-repeat: no-repeat;
      background-position:center ;
      background-color: $bg-color-blue;
      height: 43px;
      width: 45px;
      cursor: pointer;
      margin-top:1px;
    }
    .addtoany_list{
      display:none;
    }
    .share-links-node{
      margin-left:0.5rem;
      &:hover{
        .addtoany_list{
          display:block;
        }
      }
    }
    #share-this-on{
      flex-direction: column;
      background-color: $bg-color-white;
      padding:0;
    }
  }
  .conten-video-info-tags{
    background-color: $bg-color-grey-light;
    margin-bottom: 0px;
    padding: 1.125rem 1.5rem;
    .categories{
      padding-bottom:1.125rem;
      .field__label{
        color: $text-color-grey-dark;
        font-weight:bold;
        font-size:1.125rem;
        &:after{
          content:':';
        }
      }
      .field--type-entity-reference{
        display:flex;
        flex-direction: row;
        align-items: baseline;
        margin-bottom:1.125rem;
      }
      .field__items{
        font-weight:bold;
        font-size:1.125rem;
        .field__item{
          & + .field__item{
            &:before{
              content:"|";
              display:inline-block;
              margin:0.25rem;
            }
          }
          h2{
            font-size:1.125rem;
            margin:0;
            a{
              color: $text-color-blue;
              font-weight:bold;
              font-size:1.125rem;
            }
          }
        }
      }
    }
    .body{
      strong,
      span{
        color:$text-color-blue!important;
        background-color: transparent!important;
      }
    }
  }
  .back-button-custom{
    text-align: right;
    margin-top: -53px;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0px
  }
}
