.node--type-napo-album{
  .field--name-field-media-image{
    img{
      margin:0 auto;
    }
  }
  .field--type-text-with-summary{
    padding: 1.125rem 0em ;
    width: 70%;
    float: left;
  }
  #share-this-on{
    float:right;
  }
  .field--name-field-images{
    clear: both;
    .field--type-image{
      width:100%;
      .field__item{
        a{
          display:block;
          width:100%;
          height:222px;
          overflow:hidden;
          margin:1rem 0rem;
          img{
            max-width:100%;
            height:auto;
            display:block;
            position:relative;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:100%;
          }
        }
      }
    }
  }
  .back-button-custom{
    text-align: right;
    margin-top: -53px;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0px
  }
  .main-image-banner{
    background-color: $bg-color-black;
    text-align: center;
  }

  .views-view-grid{
    >.views-row{
      & + .views-row{
        margin-top:1.5rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .node--type-napo-album{
    .block-page-title-block h1{
      margin-top: 2rem;
    }
    .back-button-custom a{
      top: -135px;
      left: 1rem;
      right: unset;
    }
  }
}

@media (min-width: 600px){
  .node--type-napo-album .back-button-custom a{
    top: -95px;
    left: unset;
    right: 0;
  }
}

@media (min-width: 768px){
  .node--type-napo-album .back-button-custom a{
    top: 0px;
  }
}
