.page-view-search{
  .view-search{
    .row{
      margin:0;
      width:100%;
      display: block;
    }
  }
  .excerpt-cotent{
    display:none;
  }
  &.showResults{
    .excerpt-cotent{
      display:block;
    }
    .node--view-mode-search-results{
      .field--type-text-with-summary{
        display:none;
      }
    }
  }
}
