.learning-with-napo-napo-for-teachers-teacher-guidance{
  #main-wrapper {
    .field--name-field-image {
      float: left;
      display: inline-block;
    }
    .field--name-body {
      display: inline-block;
      padding: 1rem 0rem;
    }
    .media__image {
      padding-bottom: 0.625rem;
      padding-right: 1.125rem;
    }
    p {
      font-size: 1.125rem;
      a {
        text-decoration: underline;
        &:after {
          display: none;
        }
      }
    }
    .file-download {
      color: transparent;
      background: url(/sites/napo/themes/custom/napo_theme/images/video-download-v2.png) no-repeat center;
      display: block;
      width: 42px;
      height: 40px;
    }
    #main-wrapper {
      .container {
        position: relative;
        .content-page-content {
          .col-12 {
            position: static;
          }
        }
      }
    }
    .field--name-field-guidance-file {
      position: absolute;
      top: 0;
      z-index: 3;
      right: 0;
      transform: translate(0px, 53px);
    }
  }
}
