.view-napo-workplaces {
  .views-row {
    border: 2px solid $text-color-blue;
    width: 30%;
    margin: 1rem;
    border-radius: 0 0 1.25rem 1.25rem;
    overflow: hidden;
    min-height: 17.5rem;
    position: relative;

  }
}
