.view-napo-s-film-episodes{
  .views-row {
    margin:0rem;
    margin-bottom: 1.125rem;
    clear: both;
    padding-left: 4.5rem;
    width: 100%;
    position:relative;
    &>div {
      margin: 0rem;
      padding: 0rem;
      &.views-field-field-combined-tags{
        display:none;
      }
    }
    >.views-field-nothing-1{
      position:absolute;
      top:0;
      left:0;
      z-index:200;
      margin-left: 1rem;
    }
  }
  .col-sm-3{
    &>div{
      height: 144px;
      overflow: hidden;
    }
    a{
      &:before{
        background-image: url(/sites/napo/themes/custom/napo_theme/images/home-play-featured.png) ;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        content: " ";
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        position: absolute;
        width: 44px;
        height: 48px;
        cursor: pointer;
      }
    }
  }
  h3{
    background: $bg-color-blue;
    margin: 0rem;
    padding: 10px;
    a{
      color: $text-color-white;
      font-size: 15px;
    }
  }
  .datetime{
    background:$bg-color-grey-light;
    color:$text-color-blue;
    font-weight: bold;
    padding: 0.75rem;
    display: block;
  }
  .episode-list-details-container{
    padding:0rem 1.125rem;
    background:$bg-color-grey-light;
    height: 51px;
    position: relative;
    .buttons{
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 1rem;
      .download-video{
        margin-left:0.5rem;
      }
    }
  }
  .tags{
    float:left;
    a{
      font-size:11px;
    }
  }
}
