#views-exposed-form-search-api-search-api-block{
  position: relative;
  .ui-autocomplete.ui-front{
    position: absolute;
    top: 1.8rem !important;
    left: unset !important;
    right: 0 !important;
    .ui-autocomplete-content .ui-autocomplete-container{
      text-align: start;
      .ui-autocomplete-field-group{
        opacity: 1;
        font: {
          weight: bold;
          size: 0.8em;
        }
        text: {
          align: center;
          transform: uppercase;
        }
        background-color: #ccc;
        padding: 1px 5px;
        margin: 0;
        display: block;
      }
      li.ui-menu-item-first{
        margin-top: 10px;
      }
      li.ui-menu-item{
        padding: 1px 5px;
        background: $bg-color-white;
        & > a{
          display: block;
          background: none;
          border: none;
          position: relative;
          padding: 3px 1em 3px .4em;
          .ui-autocomplete-field-title{
            display: block;
            color: $text-color-blue;
            font-weight: bold;
            font-size: 0.75rem;
            line-height: 1.125rem;
            &:hover{
              background: {
                image: url(/sites/napo/themes/custom/napo_theme/images/view-episodes-yellow.png);
                repeat: no-repeat;
                position: 99% center;
                color: $bg-color-yellow ;
              };
              border: 0px!important;
              border-radius: 0px;
              padding-right: 30px!important;
              color:$text-color-blue;
              transition: background 0.4s ease-in;
            }
          }
        }
      }
    }
  }
}


ul[data-sa-theme="basic-blue"]{
  left: -195px !important;
  padding-bottom: 5px;
  border: 2px solid #d8d9d9;
  box-shadow: none;
  > div{
    &.ui-autocomplete-field-group{
      display:none;
    }
  }
  >*,
  >*:hover{
    border:none;
    margin: 0;
    padding: 0;
  }
  > li.ui-menu-item{
    padding:1px 5px;
    &:first-of-type{
      margin-top: 10px;
    }
    &:hover{
      background-color: $bg-color-white;
    }
    >.ui-menu-item-wrapper{
      >.ui-autocomplete-fields{
        padding:5px 0;
      }
    }
  }
  .ui-autocomplete-fields {
    > *{
      display:none;
      &:first-child{
        display:block;
        color:$text-color-blue;
        font-weight:bold;
        font-size:0.75rem;
        line-height:1.125rem;
        padding: 5px 10px;
      }
    }
  }
  > div.ui-autocomplete-field-group{
    &.no_results,
    &.more_results{
      + li.ui-menu-item{
        background: #a5b8db!important;
        margin: 0px 5px 0px 5px!important;
        width: 97%!important;

        ui-autocomplete-fields > *:first-child{
          color: #FFF!important;
          text-transform: uppercase!important;
          color:$text-color-white;
          font-style:initial ;
          font-weight:bold;
        }
      }
    }
  }
}

ul[data-sa-theme="basic-blue"]{
  > div.ui-autocomplete-field-group{
    &.no_results,
    &.more_results {
      + li.ui-menu-item{
        .ui-autocomplete-fields{
          > *:first-child{
            color: #FFF!important;
            text-transform: uppercase!important;
            color:$text-color-white;
            font-style:initial ;
            font-weight:bold;
            text-align: left;
          }
        }
      }
    }
  }
}

ul[data-sa-theme="basic-blue"] {
  > li.ui-menu-item{
    &.ui-state-focus,
    &:hover{
      .ui-autocomplete-fields{
        > *{
          color:$text-color-blue;
        }
      }
    }
  }
}

@media (min-width: 1400px){
  #views-exposed-form-search-api-search-api-block .ui-autocomplete.ui-front{
    min-width: 400px;
  }
}
