.node_search-results{
  .list-group{
    &-item{
      padding: 0 1.125rem 1.125rem 1.125rem;
      border:none;
      &:hover{
        background: url(/sites/napo/themes/custom/napo_theme/images/napo-search-results-background.png) repeat;
      }
      h3{
        margin:0;
        padding:0;
        a{
          color: $text-color-grey-dark;
          font-weight: bold;
          font-size: 1rem;
          margin-bottom: 0.625rem;
          margin-top: 1.25rem;
          line-height: 1;
          display: block;
        }
      }
      p{}
    }
  }
}


.node--view-mode-search-results{
  display:block;
  width:100%;
  min-height: 127px;
  padding: 0 1rem 1rem 1rem;
  &:hover{
    background: url(/sites/napo/themes/custom/napo_theme/images/napo-search-results-background.png) repeat;
    padding: 0 1em 1em 1em;
    .more-link{
      display: flex;
    }
    .action_group{
      visibility: visible;
    }
  }
  header{
    padding-bottom: 0.375rem;
    padding-top: 0.375rem;
  }
  &.node--type-article{
    header{
      background: url(/sites/napo/themes/custom/napo_theme/images/search-node-others.png) no-repeat 0px 20px transparent;
    }
  }
  &.video_typeFilm{
    header{
      background: url(/sites/napo/themes/custom/napo_theme/images/search-node-video.png) no-repeat 0px 20px  transparent;
    }
  }
  &.node--type-lesson{
    header{
      background: url(/sites/napo/themes/custom/napo_theme/images/search-node-lesson.png) no-repeat 0px 20px  transparent;
    }

  }
  &.video_typeEpisode{
    header{
      background: url(/sites/napo/themes/custom/napo_theme/images/search-node-episode.png) no-repeat 0px 20px  transparent;
    }
  }
  h2{
    padding-left: 2.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.625rem;
    a{
      color: $text-color-grey-dark;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
  }
  .field--name-field-image{
    float: left;
    padding-right: 1rem;
    margin-bottom: 0.375rem;
  }
  .field--type-text-with-summary{
    clear:none;
    padding-left: 2.5rem;
    background: transparent;
    padding-bottom: 2rem;
    min-height: 127px;
  }
  .list{
    list-style: none;
    &--horizontal{
      display:flex;
      flex-direction: row;
    }
    &__item{
      &.shareGroup{
        position:relative;
        display:flex;
        &:hover{
          #share-this-on{
            display: flex;
          }
        }
      }
    }
  }
  .node__content{
    padding-left: 2.5rem;
  }

  #share-this-on{
    display:none;
    position:absolute;
    top:100%;
    flex-direction: column;
    left:0;
    z-index:4;
    padding:0;
    background-color: $bg-color-white;
  }

  .action_group{
    visibility: hidden;
  }
  .more-link{
    flex-direction: row;
    justify-content: flex-end;
    display: none;
    a{
      color: $text-color-yellow;
      width: auto;
      padding: 0.25rem;
      font-size:1.125rem;
      font-weight: bold;
      text-transform: uppercase;
      background: $bg-color-blue;
    }
  }
  .action_group{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .shareButton,
  .downloadLink,
  .detailLink{
    color: transparent;
    height: 43px;
    width: 45px;
    cursor: pointer;
    border:none;
    box-shadow: none;
    display:inline-block;
    margin-left:0.25rem;
    &:hover,
    &:active{
      border:none;
      box-shadow: none;
      outline:none;
    }
  }
  .body__content{
    .more-link{
      display:none;
    }
  }
  .shareButton{
    background: url(/sites/napo/themes/custom/napo_theme/images/share.png) no-repeat center $bg-color-blue;
  }
  .downloadLink{
    background: url(/sites/napo/themes/custom/napo_theme/images/video-download-v2.png) no-repeat center $bg-color-blue;}
  .detailLink{
    background: url(/sites/napo/themes/custom/napo_theme/images/play-featured-search.png) no-repeat center $bg-color-blue;}
}
