#share-this-on{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-top:1.125rem;
  a{
    height: 40px;
    width: 45px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    &:hover{
      background-color:$bg-color-yellow;
    }
    span{
      display:none!important;
    }
  }
  .a2a_button_facebook{
    background: url(/sites/default/themes/custom/ncwtheme/images/ico-facebook.png) no-repeat;
    background-position: center;
    width: 30px !important;
  }
  .a2a_button_twitter{
    background: url(/sites/default/themes/custom/ncwtheme/images/ico-twitter.jpg) no-repeat;
    background-position: center;
    width: 30px !important;
  }
  .a2a_button_linkedin_share{
      background: url(/sites/default/themes/custom/ncwtheme/images/ico-linkedin.png) no-repeat;
      background-position: center;
      width: 30px !important;
  }
  .a2a_button_facebook:after, .a2a_button_twitter:after, .a2a_button_linkedin_share:after  {
    display:none !important;
  }
  .a2a_button_facebook:hover, .a2a_button_twitter:hover, .a2a_button_linkedin_share:hover  {
    background-color: transparent;
  }
}
