.sitemap{
  .sitemap-item{
    padding-left: 27px;
    h2{
      color: transparent;
      display: none;
    }
    & > div > ul{
      list-style: none;
      & > li{
        padding: 5px 0rem;
        ul{
          list-style: none;
          padding-left: 27px;
        }
      }
      &-link{
        color: $text-color-blue;
        font-size:1.125rem;
      }
    }
  }
}
