@media only screen and (max-width: 1200px){

  .container{

    max-width: 100%;
  }

  .container.header_navbar_container {
    max-width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .region-header-logo{
    img{
      width: 90% ;
      margin: auto;
      display:block;
    }
  }
}

