
/*Font Family*/
@font-face {
  font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/ubuntu/Ubuntu-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/ubuntu/Ubuntu-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('../fonts/ubuntu/Ubuntu-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}


/* Font colours */
$text-color-blue: #1f3695;
$text-color-blue-light:#bbc2df;
$text-color-white: #FFF;
$text-color-yellow: #f7e235;
$text-color-grey-dark: #585759;
$text-color-grey-3:#666;
$text-color-grey-4:#6c757d;
$text-color-dark-grey-3:#585858;
$text-color-black: #000;
$text-color-grey-blue: #9FA8D1;


/* Background colours */
$bg-color-blue: #1f3695;
$bg-color-blue-light-hover: #506B9E;
$bg-color-blue-2: #337ab7;
$bg-color-blue-light: #bbc2df;
$bg-color-blue-light-2: #b9c3e0;
$bg-color-blue-light-3: #e8f0fe;
$bg-color-orange: #e95420;
$bg-color-yellow: #f7e235;
$bg-color-light-yellow: #fffbd9;
$bg-color-grey: #59595A;
$bg-color-grey-light:#f2f1f2;
$bg-color-grey-light-2: #e0e1e1;
$bg-color-grey-light-3: #EEEDEE;
$bg-color-grey-light-4: #ccc;
$bg-color-grey-light-5: #ddd;
$bg-color-grey-light-6: #ededed;
$bg-color-white: #FFF;
$bg-color-grey-2: #777777;
$bg-color-grey-3:#666;
$bg-color-black: #000;
$bg-color-green: #5cb85c;
