/**Download links styles - used for napo films, napo MSD**/
@mixin download($border-colour){
  .content-download-custom{
    border: 1px solid $border-colour;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top:0;
    & > p{
      margin: 0;
      padding: {
        top: 0.5rem;
        left: 1rem;
      }
      font: {
        size: 1.3rem;
        weight: 600;
      }
    }
    form & > input{
      display: none;
    }
    form .form-actions {
      display: flex;
      flex-direction: column;
      margin: 0 !important;
      input{
        width: unset;
        height: unset;
        border: 0;
        border-radius: 0;
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        color: $text-color-blue;
        font: {
          size: 1rem;
          weight: 400;
        }
        text: {
          wrap: balance;
          align: start;
        }
        background: url(/sites/napo/themes/custom/napo_theme/images/btn-download.png) no-repeat calc(100% - 10px) 50% ;

        &:focus{
          box-shadow: none;
        }

        &:not(&:first-of-type, &:last-of-type){
          border-top: 1px solid $text-color-blue;
        }

        &:not(&:last-of-type){
          margin: 0 0.5rem;
        }

        &:last-child{
          display: block;
          border:{
            bottom: 0;
            bottom-right-radius: 12px;
            bottom-left-radius: 12px;
          }
          margin: 0;
          padding: 0.5rem 2.5rem 0.5rem 1rem;
          color: $text-color-white !important;
          background:{
            color: $bg-color-blue;
            image: url(/sites/napo/themes/custom/napo_theme/images/btn-download-all.png);
            repeat: no-repeat;
            position: calc(100% - 19px) 50% !important;
          }
        }
      }
    }
  }
}
