
*{
  margin:0px;
  padding:0px;
}

.clearfix{
  clear: both;
  float: none;
}

html,
body{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

body{
  font-family: 'Ubuntu',cursive;
  color:$text-color-blue;
}



.site-footer .block {
  margin:  0;
  border: none;
  padding: 0;
}
.form-group {
  margin-bottom: 0rem;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
