
*{
  margin:0px;
  padding:0px;
}

*,
button,
a{
  &:focus{
    outline:none;
  }
}

.clearfix{
  clear: both;
  float: none;
}

html,
body{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

body{
  font-family: 'Ubuntu',cursive;
  color:$text-color-blue;
}



.site-footer .block {
  margin:  0;
  border: none;
  padding: 0;
}
.form-group {
  margin-bottom: 0rem;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.node__content{
  margin: 0px;
  font-size:inherit;
}

p{
  font-size:1.125rem;
}

.block-system-main-block{
  margin:0px;
  padding:0px!important;
}

a{
  color:$text-color-blue;
  &:hover{
    color:$text-color-blue;
  }
}
div.pagerer-container{
  margin:0px;
  padding:0px;
}

