.field--name-body{
  ul {
   list-style: none;
    li:before {
      content: "\2022";
      padding-right: 0.625rem;
      padding-left: 1.125rem;
      float: left;
    }
  }
}

.highlighted{
  font-weight: bold;
  background-color: $bg-color-yellow;
}

.skip-link{
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/**Hide the "share this on" layer which appears when selecting text**/
.wtPopSelect, .wt-share--selection{
  display: none !important;
}

/**captcha**/
.grecaptcha-badge {
  display: none !important;
}
